#checked {
    margin-top: 15px;
}

#checkers {
    display: none;
    color: grey;
}

#swirl {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding-right: 7px;
}
#swirl:after {
    content: " ";
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: black transparent black transparent;
    animation: swirl 1.2s linear infinite;
}
@keyframes swirl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
ul { 
    margin-top: 0px;
    list-style: none;
}
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.online::before {
    color: green;
}
.offline::before {
    color: red;
}
.offline {
    color: grey;
}
.restart {
    margin-left: 5px;
    cursor: pointer;
    color: black;
}
.online .restart {
    display: none;
}
.online:hover {
    cursor: pointer;
    color: darkgrey;
    background: rgba(255,255,255,0.3);
}
#check {
    font-size: 16px;
}
#data {
    display: none;
    border: 1px solid black;
    padding: 20px;
}
#loading-data {
    color: lightgrey;
    background: rgba(255, 255, 255, 0.5);
    font-size: 36px;
    text-align: center;
}
