/* Custom Fonts */
@font-face {
	font-family: 'Christmas Owl';
	src: url(/res/font/ChristmasOwl.ttf);
}

/* Animations */


/* Global */
body {
	overflow: hidden;
	color: white;
	background: black;
	font-family: 'Christmas Owl';
	font-size: 23px;
}
button {
	cursor: pointer;
}
#signature {
	position: absolute;
	left: 5;
	bottom: 5;
	font-size: 12;
	font-family: sans-serif;
}
#login {
	position: absolute;
	top: 10;
	left: 10;
}
a, .__webcore-a, #login, .mfcp-menu, #mfcp-nodes-list li {
	color: rgb(143,164,177);
	padding: 5px;
}
a:hover, .__webcore-a:hover, #login:hover, .mfcp-menu:hover, #mfcp-nodes-list li:hover {
	color: white;
	background: rgba(28,80,103,1);
	cursor: pointer;
}
::-moz-selection, ::selection {
	background: rgba(28,80,103,1);
}
.selected-link {
	color: rgba(156,194,141,1) !important;
	text-decoration: underline !important;
}
#canvas-nodes {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10000;
}

/* Content */
#outer-content {
	width: 100%;
	height: 80%;
}
.content {
	display: none;
	z-index: 1;
	border: 1px solid rgba(28,80,103,1);
	border-radius: 10px;
	padding: 10px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	overflow-y: auto;
}
#menu {
	display: none;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	z-index: 1000;
}

/* Non-main menu */
#menu:not(.main) {
	top: 0;
	transform: translateX(-50%) translateY(0);
	margin: 20 0;
}
.node-point-pellet {
	display: inline-block;
	position: relative;
	color: rgba(126,175,123,1);
}
#about-point {
	display: none;
}

/* Main menu */
.main #home {
	background-image: url(/res/img/favicon.ico);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;  
	z-index: -3000;
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 1px rgba(28,80,103,1);
	color: rgba(0,0,0,0);
	pointer-events:none;
	opacity: 0.7;
}
#menu.main span:not(#home) {
	position: absolute;
	line-height: initial;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main #nodes {
	top: 0;
	left: 50%;
	margin-left: -19.8916;
	margin-top: -43px;
}
.main #docs {
	left: -22;
	bottom: 8;
}
.main #about {
	right: -22;
	bottom: 8;
}
.main .node-point-pellet {
	z-index: -10;
	position: absolute;
	font-size: 50px;
}
.main #home-point {
	display: none;
}
.main #nodes-point {
	top: -28;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main #docs-point {
	left: 22;
	bottom: 15;
}
.main #about-point {
	display: block;
	right: 22;
	bottom: 15;
}

/* Mainframe Control Panel */
#control-panel {
	display: none;
	color: black;
	background: white;
	height: 90%;
	width: 90%;
	z-index: 10000;
}
.mfcp-menu {
	display: inline-block;
	text-align: left;
}
#mfcp-content > div {
	display: none;
}
#mfcp-left-side {
	float: left;
	text-align: left;
	width: 20%;
}
	#mfcp-nodes-list {
		list-style-type: none;
	}
		.nodes-list {
			position: relative;
			display: inline-block;
			width: 200px;
		}
			.status-bubble {
				left: 5%;
				display: inline-block;
				background: cyan;
				width: 7px;
				height: 7px;
				border-radius: 50%;
			}
				.status-offline {
					background: red;
				}
				.status-standby {
					background: yellow;
				}
				.status-online {
					background: green;
				}
			.nodes-list-name {
				padding-left: 20px;
			}
#mfcp-right-side {
	float: right;
	width: 75%;
	margin: 1.5%;
	text-align: left;
	border: 1px solid black;
	padding: 0;
}
#mfcp-left-side, #mfcp-right-side {	
	overflow-y: auto;
	overflow-x: hidden;
	height: 75%;
}
#create-new-node-content, #mfcp-node-content, #create-new-node-options, #node-options {
	display: none;
	padding: 7px;
}
#nodes-response {
	display: none;
	padding: 7px;
	text-align: center;
	font-weight: bold;
}
	.response-code-SUCCESS {
		border: 3px solid green;
		color: green;
		background: lightgreen;
	}
	.response-code-INFO {
		border: 3px solid blue;
		color: blue;
		background: cyan;
	}
	.response-code-WARNING {
		border: 3px solid darkgoldenrod;
		color: darkgoldenrod;
		background: palegoldenrod;
	}
	.response-code-ERROR {
		border: 3px solid red;
		color: red;
		background: pink;
	}

#new-node-site-options {
	display: none;
	margin: 0;
	list-style-type: none;
}

#view-node-field-logo {
	padding: 15px;
	max-width: 50px;
}

.node-preference {
	display: none;
	padding-left: 25px;
}

#mfcp-node-content  .node-preference {
	display: block;
}
